<!DOCTYPE html>
<!--CU There-->
<html>
  <head>
    <title>CU There</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      />
    <!-- jQuery library -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="search.css" />
  </head>
  <body>
    <div class="container" style="margin-top:30px">
      <div>
        <h1><span style="color:grey;">CU Boulder Search Page</span></h1>
      </div>
      <div class="topnav rounded_edge">
        <div> Filter
          <input
            id="myInput"
            type="text"
            placeholder="Search.."
            onkeyup="updateSearchResults()"
            />
        </div>
        <div class="order"> Order by
          <form action="\search" , method="get">
            <select class="rounded_edge" name="order" id="order"
              onchange="this.form.submit()">
              <option value="name">Name</option>
              <%if (order =="time" ){%>
                <option value="time" selected>Time</option>
                <%} else{%>
                  <option value="time">Time</option>

                  <%}%>
                  </select>
                </form>
              </div>
            </div>
            <% for (let i= 0;i<event.length;i++){ %>
              <div>
                <div class="results"> <%= event[i].eventname %> -
                    <span style="color: rgb(145, 141, 141); font: 20px;"><%=
                        event[i].eventdescription %>
                      </span>
                      <div> <%=event[i].dateofevent%>: From
                          <%=event[i].timestart%>
                            to <%=event[i].timeend%></div>
                          </div>
                        </div>
                        <%}%>

                          <br />
                        </div>

                        <script src="search.js"></script>

                      </body>
                    </html>